.main {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  /* align-items: flex-start; */
  padding: 24px;

  box-sizing: border-box;

  /* overflow: auto; */
}

.modal {
  /* width: 120px;
  height: 120px; */
  display: flex;
  align-items: center;
  justify-content: center;
}
