.base {
  display: flex;
  justify-content: center;
  align-items: center;
}
.id {
  composes: base;
  width: 40px;
}
.name {
  composes: base;
  width: 300px;
  justify-content: flex-start;
}
.flowRate {
  composes: base;
  width: 100px;
}
.velocity {
  composes: base;
  width: 100px;
}
.length {
  composes: base;
  width: 100px;
}
.diameter {
  composes: base;
  width: 100px;
}
