.base {
  display: flex;
  justify-content: center;
  align-items: center;
}
.id {
  composes: base;
  width: 40px;
}
.name {
  composes: base;
  width: 300px;
  justify-content:flex-start;
}
.flow {
  composes: base;
  width: 100px;
}
.place {
  composes: base;
  width: 80px;
}
.condition {
  composes: base;
  width: 80px;
}
.area {
  composes: base;
  width: 80px;
}
.intensity {
  composes: base;
  width: 80px;
}
.lengthPipe {
  composes: base;
  width: 80px;
}
.lengthTray {
  composes: base;
  width: 80px;
}
.velocityPipe {
  composes: base;
  width: 80px;
}
.velocityTray {
  composes: base;
  width: 80px;
}
.timeInit {
  composes: base;
  width: 80px;
}
