.base {
  display: flex;
  justify-content: center;
  align-items: center;
}
.id {
  composes: base;
  width: 40px;
}
.name {
  composes: base;
  width: 300px;
  justify-content: flex-start;
}
.tc {
  composes: base;
  width: 80px;
}
.th {
  composes: base;
  width: 80px;
}
.maxHotWaterPerHour {
  composes: base;
  width: 80px;
}
.avgHotWaterPerHour {
  composes: base;
  width: 80px;
}
.hwPipelineHeatLoss {
  composes: base;
  width: 80px;
}
.meanHourlyHeatForHotWater {
  composes: base;
  width: 80px;
}
.maxHourlyHeatForHotWater {
  composes: base;
  width: 80px;
}
