.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.title {
  margin-bottom: 20px;
}

.item {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
