.card {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;
  max-width: 720px;
  padding: 24px;
  box-sizing: border-box;
}

.description {
  margin-bottom: 8px;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 14px 0;
  border-bottom: 1px solid var(--g-color-line-generic);
}

.row:last-child {
  border-bottom: none;
}

.rowText {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
