.titleRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.nameCell {
  display: flex;
  align-items: center;
  gap: 12px;
}

.nameCellIcon {
  color: var(--g-color-text-secondary);
}

.nameCellText {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.mono {
  font-family: var(--g-font-family-monospace);
}

.tableCard {
  overflow: hidden;
  width: 100%;
}
